/* # header */
header {
  margin: 35px;
  position: absolute;
  top: 0;
  .header_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    float: left;
    height: 50px;
    img {
      height: 50px;
      width: auto;
    }
    span {
      color: $color-white;
      opacity: 0.4;
      margin-left: 20px;
      font-size: 15px;
      font-family:$font-aileron-light;
      letter-spacing: 2px;
    }
  }
  .header_menu {
    cursor: pointer;
    height: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    position: fixed;
    margin-right: 35px;
    right: 60px;
    z-index: 1000;
    .header_menu-open, .header_menu-close {
      line-height: 50px;
      color: $color-white;
      text-transform: uppercase;
      font-size: 15px;
      position: relative;
      letter-spacing: 3px;
      opacity: 0.9;
      font-family:$font-aileron-light;
      &:after {
        content: '';
        width: 40px;
        height: 1px;
        background: $color-white;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 80px;
        opacity: 0.9;
      }
    }
    .header_menu-close {
      &:after {
        background: $color-purple;
      }
    }
    &.active {
      .header_menu-open {
        display: none;
      }
      .header_menu-close {
        display: block;
      }
    }
  }
}

@media screen and (max-width : 768px) {
  header {
    .header_menu {
      top: 50px;
    }
  }
}
