html, body {
    margin: 0;
    padding: 0;
    height: 100%;

    background: #000;

    font-family: sans-serif;
    color: white;
    text-align: center;
}

#main {
	width: 100vw;
	height: 100%;
	display: flex;
    align-items: center;
    justify-content: center;
    font-size: 72px;
}

p {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 24px;
}