.homepage {
  //background: $color-black;
  background-color: $color-black;
  background-image: radial-gradient(rgba(255,255,255, 0.1) 1px, transparent 0);
  background-repeat: repeat;
  background-size: 40px 40px;
  background-position: center;
  scroll-behavior: smooth;

  color: $color-white;
  .landing {
    width: 100%;
    height: 100%;
    &__content {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 60%;
      left: 15%;
      h1 {
        color: $color-white;
        opacity: 0.4;
        font-size: 16px;
        margin-bottom: 10px;
      }
      p {
        color: $color-white;
        line-height: 40px;
        font-size: 20px;
      }
    }
    &__start {
      position: absolute;
      bottom: 50px;
      left: 50%;
      transform: translateX(-50%);
      cursor: pointer;
      span {
        line-height: 50px;
        color: $color-white;
        text-transform: uppercase;
        font-size: 12px;
        position: relative;
        letter-spacing: 3px;
        opacity: 0.9;
        &:after {
          content: '';
          width: 1px;
          height: 100px;
          background: $color-white;
          position: absolute;
          opacity: 0.9;
          left: 50%;
          transform: translateX(-50%);
          top: 20px;
        }
      }
    }
  }
  .projects {
    width: 100%;
    height: 100%;
    &__category {
      width: 100%;
      height: 100%;
      position: relative;
      &-title {
        position: absolute;
        top: 150px;
        transform: rotate(-90deg);
        h2 {
          text-transform: uppercase;
          letter-spacing: 3px;
          position:relative;
          opacity: 0.9;
          &:after {
            content: '';
            width: 50px;
            height: 1px;
            background: $color-white;
            position: absolute;
            opacity: 0.9;
            top: 50%;
            transform: translateY(-50%);
            margin-left: 10px;
          }
        }  
        &-long {
          max-width: 300px;
          left: -70px;
        }  
      }
      &-content {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 850px;
        height: 500px;
      }
      &-thumbnail {
        background-image: url('../images/placeholder-pic.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 700px;
        height: 350px;
        position: absolute;
        left: 0;
        bottom: 0;
        cursor: pointer;
      }
      &-description {
        background: $color-white;
        width: 350px;
        height: 250px;
        padding: 20px;
        position: absolute;
        top: 0;
        right: 0;
        p {
          color: $color-black;
          line-height: 25px;
        }
      }
    }
  }
  .category {
    position: absolute;
    top: 90px;
  }
  .slideToFade {
    visibility: visible;
    opacity: 1;
    transition: opacity .5s, visibility .3s .5s;
  
    &.hidden {
      visibility: hidden;
      opacity: 0;
    }
  }
}



@media screen and (max-width : 768px) {

}
