.category {
  opacity: 0;
  &__content {
    width: 940px;
    margin: 0 auto;
    margin-top: 200px;
    p.category__description {
      color: $color-white;
      line-height: 40px;
      font-size: 20px;
      font-family: $font-walsheim-regular;
      width: 700px;
      margin-bottom: 80px;
      .fi {
        &:before {
          cursor: pointer;
          font-size: 20px;
          color: $color-purple;
        }
      }
    }
      .projects__list-item {
        cursor: pointer;
        width: 300px;
        height: 350px;
        float: left;
        &:nth-of-type(3n+2) {
          margin: 0 20px;
        }
        .project__thumbnail {
          width: 300px;
          height: 200px;
          overflow: hidden;
          &-img {
            width: 300px;
            height: 200px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            // background-image: url('../images/placeholder-thumbnail.png');
            transition: all 0.7s ease;
          }
        }
        h2 {
          font-family: $font-walsheim-regular;
          margin: 15px 2px 10px 2px;
          font-size: 20px;
          line-height: 25px;
        }
        p {
          font-family: $font-aileron-light;
          font-size: 12px;
          line-height: 20px;
          opacity: 0.8;
        }
        &:hover {
          .project__thumbnail {
            &-img {
              transform: scale(1.1);
            }
          }
        }
      }
  }
}
