#homepage {
  width: 100%;
  height: 100%;
  .landing {
    width: 100%;
    height: 100%;
    &__content {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 60%;
      left: 15%;
      h1 {
        color: $color-white;
        opacity: 0.4;
        font-size: 14px;
        margin-bottom: 10px;
        font-family:$font-aileron-light;
        letter-spacing: 3px;
      }
      p {
        color: $color-white;
        line-height: 40px;
        font-size: 20px;
        font-family:$font-walsheim-regular;
      }
    }
    &__start {
      position: absolute;
      bottom: 50px;
      left: 50%;
      transform: translateX(-50%);
      cursor: pointer;
      span {
        line-height: 50px;
        color: $color-white;
        text-transform: uppercase;
        font-size: 12px;
        position: relative;
        letter-spacing: 3px;
        opacity: 0.9;
        font-family:$font-aileron-light;
        &:after {
          content: '';
          width: 1px;
          height: 100px;
          background: $color-white;
          position: absolute;
          opacity: 0.9;
          left: 50%;
          transform: translateX(-50%);
          top: 20px;
        }
      }
    }
  }
  .categories {
    width: 100%;
    height: 100%;
    .projects {
      &__category {
        width: 100%;
        height: 100%;
        position: relative;
        &-title {
          left: 30px;
          transform: rotate(-180deg);
          position: absolute;
          top: 150px;
          text-align: right;
          line-height: 30px;
          h2 {
            writing-mode: vertical-lr;
            text-transform: uppercase;
            letter-spacing: 3px;
            position:relative;
            opacity: 0.9;
            font-family:$font-aileron-light;
            &:after {
              content: '';
              width: 1px;
              height: 50px;
              background: $color-white;
              position: absolute;
              opacity: 1;
              left: 50%;
              transform: translateX(-50%);
              bottom: -65px;
            }
          }
          &-long {
            max-width: 300px;
            left: -70px;
          }
        }
        &-content {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%,-50%);
          width: 850px;
          height: 500px;
        }
        &-thumbnail {
          background-image: url('../images/placeholder-pic.jpg');
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          width: 700px;
          height: 350px;
          position: absolute;
          left: 0;
          bottom: 0;
          cursor: pointer;
        }
        &-description {
          background: $color-white;
          width: 350px;
          height: 250px;
          padding: 25px;
          position: absolute;
          top: 0;
          right: 0;
          font-family: $font-aileron-regular;
          font-size: 16px;
          text-align: justify;
          p {
            color: $color-black;
            line-height: 25px;
            font-family: $font-aileron-regular;
            font-size: 16px;
          }
          .action-show {
            text-align: right;
            position: absolute;
            right: 25px;
            bottom: 25px;
            cursor: pointer;
            &:before {
              color: $color-purple;
              transform: rotate(180deg);
            }
          }
        }
      }
    }
  }
}
