// Fonts
$font: sans-serif !default;
$font-regular: 'font-reg', sans-serif !default;
$font-medium: 'font-med', sans-serif !default;
$font-bold: 'font-bold', sans-serif !default;
$font-roboto-regular: 'roboto-regular', sans-serif !default;
$font-aileron-ultralight:'Aileron-ultralight';
$font-aileron-light: 'Aileron-light';
$font-aileron-regular: 'Aileron-regular';
$font-walsheim-light:'GTWalsheimProLight';
$font-walsheim-regular:'GTWalsheimProRegular';

// Colors
$black: #000 !default;
$white: #fff !default;
$color-black : #19171a;
$color-white : #f8f8f8;
$color-purple: #8625FA;
$color-grey: #777777;

// Screen Size

$media-mobile: 800px;
