html, body {
  margin: 0;
  padding: 0;
  background: $color-black;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

p, h1, a {
  color: #fff;
}

.highlight-hover {
  position: relative;
  display: inline-block;
  padding: 0 5px;
  transition: color 0.3s;
  text-decoration: none;
  z-index: 1;
  &::before {
    content: "";
    position: absolute;
    background: #611eff;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%;
    opacity: 0.5;
    transform: scale3d(0,1,1);
    transform-origin: left;
    transition: transform 0.3s;
    z-index: -1;
  }
  &:hover {
    &::before {
      transform: scale3d(1,1,1);
    }
  }
}