//Config
$canvasWidth : 90vw;
$canvasHeight : 75vh;


//Time
$intro-delay : .5s;
$canvas-delay : 4.5s;
$slider-enter-delay-start : 7.5s;
$music-info-delay : 9s;



body, html {
    margin : 0;
    padding : 0;
    width : 100%;
    height : 100%;
    background-color: black;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
    font-family: 'Lato', sans-serif;
}

#intro-container {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;



    #intro {

        pointer-events: none;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;

        opacity: 1;
        transition: opacity 1s ease;

        #intro-title {

            font-size: 42px;
            width: 40vw;
            text-align: right;
            opacity: 0;
            font-weight: 800;
            animation: intro-title-enter 2s $intro-delay ease-out forwards;
            @keyframes intro-title-enter {
                0% {opacity: 0;}
                100% {opacity: 1;}
            }

        }

        #intro-split {
            height: 0;
            width: 1px;
            opacity: 0;
            margin: 0 10px 0 11px;
            background-color: white;
            animation: intro-split-enter 1.3s $intro-delay ease-out forwards;
            @keyframes intro-split-enter {
                0% {
                    opacity: 0;
                }
                60% {
                    height: 0;
                }
                100% {
                    height: 100%;
                    opacity: 1;
                }
            }

        }
        #intro-me {
            width: 40vw;
            font-size: 30px;
            text-align: left;
            opacity: 0;
            font-weight: 100;
            animation: intro-me-enter 2s $intro-delay+1.5s ease-out forwards;
            @keyframes intro-me-enter {
                0% {opacity: 0;}
                100% {opacity: 1;}
            }
        }
    }
}



#canvas-container {
    margin-top: 40px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .border {
        position: absolute;
        height: 100%;
        z-index: 2;
        border-right: 1px solid white;

        &:nth-of-type(1) {
            left: 0;
        }

        &:nth-of-type(2) {
            right: -1px;
        }
    }



    canvas {
        width: 0;
        height: 0;
        opacity: 0;
        animation: canvas-enter 3.5s $canvas-delay ease forwards;

        @keyframes canvas-enter {
            0% {
                width: 0;
                height: 0;
                opacity: 0;
            }
            35% {
                width: 0;
                height: $canvasHeight;
            }
            70% {
                height: $canvasHeight;
                width: $canvasWidth;
                opacity: 0;
            }

            100% {
                height: $canvasHeight;
                width: $canvasWidth;
                opacity: 1;
            }
        }
    }
}


#sliders-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;


    &> div {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 20px;
        opacity: 0;

        @keyframes slider-enter {
            0% {opacity: 0;}
            100% {opacity: 1;}
        }


        $slider-enter-duration : 2.5s;
        $slider-enter-delay : .15s;
        $slider-enter-function : ease;

        &:nth-child(1) {
            animation: slider-enter $slider-enter-duration $slider-enter-delay-start $slider-enter-function forwards;
        }
        &:nth-child(2) {
            animation: slider-enter $slider-enter-duration $slider-enter-delay-start+$slider-enter-delay*1 $slider-enter-function forwards;
        }
         &:nth-child(3) {
            animation: slider-enter $slider-enter-duration $slider-enter-delay-start+$slider-enter-delay*2 $slider-enter-function forwards;
        }
        &:nth-child(4) {
            animation: slider-enter $slider-enter-duration $slider-enter-delay-start+$slider-enter-delay*3 $slider-enter-function forwards;
        }
        &:nth-child(5) {
            animation: slider-enter $slider-enter-duration $slider-enter-delay-start+$slider-enter-delay*4 $slider-enter-function forwards;
        }
        &:nth-child(6) {
            animation: slider-enter $slider-enter-duration $slider-enter-delay-start+$slider-enter-delay*5 $slider-enter-function forwards;
        }

        label{
            margin-bottom: 10px;
        }


    }

}

#music-info-container {

    margin-top: 30px;
    height: 25px;

    display: flex;
    align-items: center;



    #music-artist {
        opacity: 0;
        font-weight: 800;
        animation: music-artist-enter .75s $music-info-delay ease-out forwards;
        @keyframes music-artist-enter {
            0% {opacity: 0;}
            100% {opacity: 1;}
        }
    }

    #music-split {
        height: 0;
        width: 2px;
        opacity: 0;
        margin: 0 10px;
        background-color: white;
        animation: music-split-enter 1.2s $music-info-delay ease-out forwards;
        @keyframes music-split-enter {
            0% {
                opacity: 0;
            }
            60% {
                height: 0;
            }
            100% {
                height: 100%;
                opacity: 1;
            }
        }
    }

    #music-title {
        opacity: 0;
        font-weight: 100;
        animation: music-title-enter .75s $music-info-delay+1.3s ease-out forwards;
        @keyframes music-title-enter {
            0% {opacity: 0;}
            100% {opacity: 1;}
        }
    }

}


audio{
    display: none;
}

